<div class="place-content-center">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione molestias aliquid aut culpa voluptate corrupti illo
  voluptates quae veniam cumque nihil reprehenderit, totam mollitia aliquam fugit magni eligendi voluptatum distinctio?.
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi laboriosam ullam molestias quam repudiandae eum at
  eligendi tempore, quos maxime aliquam. Exercitationem atque vel alias, ratione temporibus consequuntur nostrum natus.
</div>